.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  padding: 50px 80px 0;
  margin-top: 30px;
}

.hero h1 {
  font-size: 4.5rem;
  line-height: 1.1;
  margin-bottom: 15px;
}

.hero h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

.hero p {
  max-width: 700px;
  font-size: 1.1rem;
  line-height: 1.6;
}


.hero-content {
  flex: 1;
}
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: contain;
  background: white;
  border: 4px solid #38bdf8;
  box-shadow: 0 0 30px rgba(56, 189, 248, 0.5);
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.primary-btn {
  background: #38bdf8;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.secondary-btn {
  background: transparent;
  color: white;
  border: 2px solid #38bdf8;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.primary-btn,
.secondary-btn{
  transition: 0.3s ease;
}

.primary-btn:hover,
.secondary-btn:hover{
  transform: translateY(-4px);
}

.stats {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px 80px;
  flex-wrap: wrap;
  align-items: center;
}

.stat-card {
  background: #1e293b;
  padding: 25px;
  width: 220px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #38bdf8;
  transition: 0.3s;
}

.stat-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
}

.stat-card h3 {
  color: #38bdf8;
  font-size: 2rem;
  margin-bottom: 10px;
}

.stat-card p {
  color: white;
}
.hero-image img{
  transition: 0.3s ease;
}

.hero-image img:hover{
  transform: scale(1.05);
}

@media (max-width: 768px) {

  .hero{
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-content h1{
    font-size: 2.5rem;
  }

  .hero-content h2{
    font-size: 1.4rem;
  }

  .hero-image img{
    width: 250px;
    height: 250px;
  }

  .stats{
    flex-direction: column;
    align-items: center;
  }
}













